#about-us {
  height: 40vh;
  width: 100%;
  background-color: black;
  display: flex;
  padding: 0 50px;
  align-items: center;
  /* position: relative; */
  /* z-index: 10; */
  justify-content: space-around;
}
#about-us img {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;
}
#about-us-in {
  width: 50%;
  text-align: center;
}
#about-us-in h3 {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 30px;
}
#about-us-in p {
  font-size: 20px;
  line-height: 26px;
}

#green-div {
  margin-top: 30px;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  background: #95c11e;
}
#green-div h4 {
  width: 45%;
  line-height: 50px;
  color: #000;
  text-align: center;
  font-weight: 800;
  font-size: 27px;
  text-transform: uppercase;
}
#green-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
}
@media (max-width: 768px) {
  #about-us-in h3 {
    font-size: 36px;
    margin-top: -30px;

  }
  #about-us-in p {
    margin-top: -30px;
    font-size: 10px;
  }
  #about-us img{
    height: 150px;
    width: 150px;
  }
  #green-div h4{
    line-height: 40px;
    font-size: 17px;

  }
}
@media (max-width: 450px) {
  #about-us-in h3 {
    font-size: 20px;

  }
  #about-us-in p {
    font-size: 7px;
    line-height: 10px;
  }
  #about-us img{
    height: 100px;
    margin: 0 -90px;
    width: 100px;
  }
  #green-div h4{
    line-height: 20px;
    font-size: 13px;

  }
}